@media screen and (min-width: 1000px){
    body{
        font-family: 'Montserrat', sans-serif;
    }

    #header{
        height: 100px;
        max-width:100%;
        width:100%;
        margin: 0 auto;
        text-align: center;
    }

    #logo-container{
        float: left;
    }

    #about-us{
        display:block;
        float: right;
        margin-top: 20px;
        margin-right:20px;
    }

    #section-1{
        width:850px;
        height: 600px;
        margin: 0 auto;
    }

    .title{
        font-size: 30px;
        margin: 0 0;
        width:320px;
        text-align: left;
        font-weight: bold;
    }

    .title-rule{
        width:100px;
        height: 5px;
        background-color: blue;
        text-align: left;
        margin: 20px 0;
    }

    .title-1{
        text-align: left;
        height: 150px;

    }

    #text-container-1-desktop{
        width:400px;
        height: 450px;
        display:block;
        float:right;
        margin:100px 0px;
        margin-right:50px;
    }

    #text-container-1-mobile{
        display:none;
    }

    .paragraph-container{
        height: 120px;
        width:450px;
        margin: 15px 0px;
        text-align: left;
        font-size:18px;
        font-weight: bold;
    }

    .paragraph-desktop{
        color:black;
        margin: 0px 0px;
        line-height: 150%;
        font-size:22px;
        display: inline;
    }

    .paragraph-mobile{
        display:none;
    }

    .download-links-container{
        width:280px;
        height: 40px;
        text-align: center;
        margin: 0 0;
        margin-top: 40px;
        margin-left: 0px;
    }

    .app-store-link{
        float: left;
    }

    .google-play-link{
        float:right;
    }

    .phone-img-container{
        margin: 0px 0px;
        width: 315px;
        height: 649px;
        text-align: center;
        float:left;
        margin-left:50px;
    }

    .phone-img{
        width: 80%;
        height: 80%;
        margin: 10% auto;
    }

    #section-2{
        width:950px;
        height: 700px;
        margin: 0 auto;
    }

    .text-container-2{
        width:400px;
        display:block;
        float:left;
        margin-left:50px;
        height: 400px;
        margin-top:100px;
    }

    .phone-img-container-2{
        margin: 0 auto;
        width: 315px;
        height: 649px;
        text-align: center;
        float:right;
        margin-right:150px;
    }

    #section-3{
        width:850px;
        height: 800px;
        margin: 0 auto;
    }

    #text-container-3{
        width:400px;

    }

    #improve-ways{
        width: 800px;
        height: 400px;
        margin: 0 0;
    }

    .ways-block{
        float: left;
        width:200px;
        margin: 0 0;
        height: 200px;
        padding-left: 10px;
    }
    

    .title-2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .block-title-rule{
        width: 35px;
        height: 3px;
        margin-left: 0px;
    }

    .block-discription{
        height: 80px;
    }

    .block-paragraph{
        color:black;
        margin: 20px 0px;
    }

    #section-4{
        width: 850px;
        margin-top:20px;
        margin:0 auto;
        height: 400px;
    }

    #text-container-4-mobile{
        display:none;
    }

    #text-container-4-desktop{
        display:block;
        width:45%;
        height: 300px;
        float:left;
    }

    #title-4{
        width:500px;
    }

    #video-container{
        width: 50%;
        float:right;
        margin-right: 5%;
    }

    #video{
        width:500px;
        height: 280px;
        background-image:url("img/section_4_pic.png");
        background-size:100% 100%;
        margin: 0 0;
    }


    
    #section-5{
        width:100%;
        height: 600px;
        background-image:url("img/pattern.png");

    }

    #title-5-mobile{
        margin:0 auto;
        padding-top:150px;
        text-align: center;

        display:none;
    }

    #title-5-desktop{
        display:block;
        margin:0 auto;
        padding-top:150px;
        text-align: center;
        width: 400px;
    }

    .title-center{
        font-size: 30px;
        margin: 0 auto;
        width:320px;
        text-align: center;
        font-weight: bold;
    }

    .title-rule-center{
        width:100px;
        height: 5px;
        background-color: blue;
        text-align: center;
        margin: 20px auto;
    }

    #paragraph-container-5-mobile{
        height: 100px;
        width:320px;
        margin: 15px auto;
        text-align: center;
        font-size:18px;
        display:none;
    }

    #paragraph-container-5-desktop{
        height: 120px;
        width:450px;
        margin: 15px auto;
        text-align: center;
        font-size:18px;
        font-weight: bold;
        display:block;
    }

    #contact-mobile{
        width:850px;
        margin: 0 auto;
        margin-top:50px;
        display: none;
    }

    #contact-desktop{
        width:850px;
        margin: 0 auto;
        margin-top:150px;
        display: block;
    }

    #title-contact-mobile{
        display: none;
    }

    #title-contact-desktop{
        display: block;
    }

    .input-box{
        border-radius: 10px;
        border: 1px solid #ccc;
        background-color:transparent;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        height:50px;
        width:50%;
        font-size: 30px;
        margin-bottom: 20px;
        margin-right: 50%;
    }

    .contact-paragraph{
        color:black;
        line-height: 150%;
        font-size:18px;
    }

    .submit-button{
        background-color: rgb(54, 54, 54);
        border: none;
        color: white;
        padding: 25px 40px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        margin-top:30px;
        margin-bottom: 50px;
    }

    #footer{
        position:relative;
        width:100%;
        height:250px;
        background-color:black;
    }
    
    #footer-left{
        position:absolute;
        top:60px;
        left:50px;
        height:200px;
        width:80%;
        margin:0;
    }
    
    #footer-left-title{
        color:white;
        position:absolute;
        left:10px;
        font-size: 25px;
        margin: 0 0;
    }
    
    #footer-left-text{
        position:absolute;
        left:101px;
        bottom:60px;
        color:white;
        margin:0;
        line-height: 5px;
    
    }

    #footer-left-acorn{
        margin-top:90px;
        font-size: 30px;
    }

    #footer-left-slogan{
        font-size: 15px;
    }
    
    #acron-logo{
        position:absolute;
        bottom:20px;
        left:0px;
        display: block;
        width: auto;
        height: auto;
    }
    
    #footer-right{
        position:absolute;
 
        right:10px;
        color: white;
        left: auto;

        font-size:15;
    }
}