
@media screen and (min-width: 320px) {

    body{
        font-family: 'Tangerine', sans-serif;
    }

    #section-1 {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#300c5b+0,35a4e9+100 */
        background: #300c5b; /* Old browsers */
        background: -moz-linear-gradient(top, #300c5b 0%, #35a4e9 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #300c5b 0%,#35a4e9 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #300c5b 0%,#35a4e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#300c5b', endColorstr='#35a4e9',GradientType=0 ); /* IE6-9 */
    }
    .group:after {
        content: "";
        display: table;
        clear: both;
     }
     .button_send{
        background-color: rgb(68, 12, 133);
        border: none;
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
     }
    
     .first-container{
         max-width: 1200px;
         margin:0 auto;
         background-color:rgba(0, 0, 0, 0.0);
         
     }
     .invisible-division{
         max-width: 1200px;
         margin:0 auto;
         background-color:rgba(0, 0, 0, 0.0)
     }
    
    .logo{
        width:150px;
        height:200px;
        margin:20px auto;
    }
    
    .header{
        text-align:center;
        height:350px;
        padding:0;
        margin-bottom:0px;
    }

    .title-1-container{
        margin: 50px auto;
        display:inline;
    }
    .title-1-mobile{
        color:white;
        line-height:150%;
        font-size:20px;
        letter-spacing: 5px;
        width:80%;
        display: block;
        margin: 0 10%;
        margin-bottom:90px;
    }

    .title-1-tablet{
        display: none;
    }
    
    #phone{
        float:left;
        height:auto;
        margin-left: 0px;
    }

    #phone-img{
        width:300px;
        height: 420px;
    }

    
    #text-division-1{
        float:left;
        height:auto;
        margin-top:50px;
        margin-left:0px;
        padding: 0 10px;
        width:80%;
        margin-left: 10%;
    }
    
    .title-1-desktop{
        color:white;
        line-height:150%;
        font-size:40px;
        display:none;
        padding: 0 10px;
        width:80%;
    }
    
    .paragraph-1{
        color:white;
        font-size:20px;
        line-height:150%;
    }
    
    .footer-1{
        color:white;
        font-size:15px;
    }
  
    #left-img{
        float:left;
        display: none;
        width:340px;
    }

    #left-img-mobile{
        float:left;
        width:40%;
        height: 220px;
        margin-left: 10%;
    }
    
    #text-division-2{
        float:left;
        width:80%;
        margin-left: 15%;
        color:black;
        margin: 50px 10%;
        
    }
    
    #paragraph-2{
        line-height: 150%;
        font-size: 20px; 
        word-spacing:2px;
    }
    #footer-2{
        font-size: 15px;
    }
    
    #right-img{
        float:right;
        width:30%;
        height: 220px;
        margin-right: 10%;
    }
    
    #section-2{
        height:auto;
        max-width:1334px;
        background-color:white;
        text-align: center;
        margin-top:80px;
        margin-bottom:80px;
        margin-left:auto;
        margin-right: auto;
    }
    
    .video-1-container{
        margin:0 auto;
        background-image:url("img/video.jpg");
        height:300px;
        max-width: 1334px;
        background-size: 600px 100%;
        background-repeat: no-repeat;
      }
    #cut-off{
        width:auto;
        height: 60px;
        background-image:url('img/cut-off.png');
        background-repeat: repeat-x;
        background-size:50px 60px;
    }

    
    #contact{
        width:80%;
        height:900px;
        margin:0 auto;
        margin-top:90px;
    }

    #section-3-title{
        font-size: 30px;
    }

    .label-1{
        margin-bottom:10px;
        margin-top: 10px;
        font-size: 20px;

    }
    
    .input_box{
       border-radius: 10px;
       border: 1px solid #ccc;
       background-color:transparent;
       transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
       height:40px;
       width:80%;
       font-size: 30px;
    }
    
    #footer{
        position:relative;
        width:auto;
        height:300px;
        background-color:black;
    }
    
    #footer-left{
        position:absolute;
        top:10px;
        /* left:30px; */
        height:300px;
        width:100%;
        margin:0;
    }
    
    #footer-left-title{
        color:white;
        position:absolute;
        left:20px;
        font-size: 20px;
        font-weight: normal;
        margin: 10px auto;
    }
    
    #footer-left-text{
        position:absolute;
        left:20px;
        top:30px;
        color:white;
        margin:0;
        line-height: 5px;
        height: 50px;
    }

    #footer-left-acorn{
        font-size: 30px;
        font-weight: normal;
    }

    #footer-left-slogan{
        font-size: 15px;
        letter-spacing: 2px;
    }
    
    #acron-logo{
        position:absolute;
        bottom:20px;
        left:0px;
        display: none;
    }
    
    #footer-right{
        position:absolute;
        top:auto;
        right:auto;
        margin: 0 0;
        left:20px;
        bottom:10px;
        color: white;
        font-size: 10px;
        letter-spacing: 2px;
    }
    
}